# Include system-wide inputrc, which is ignored by default when
# a user has their own .inputrc file.

## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward
"\eOD": backward-word
"\eOC": forward-word
# remove bell sound... 
set bell-style none
